.app-header {
  background-color: var(--primary-color);
  color: var(--secondary-clr1);
  padding: 1em;
  min-height: 7.5vh;
}

@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}
