.app-header {
  background-color: var(--clr2);
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  color: var(--primary-color);
  padding: 15px;
  height: 7.5vh;
  z-index: 20;
}

.logo {
  flex-basis: 235px;
  min-width: 40px;
  max-width: 40px;
  font-family: righteous;
  color: var(--primary-color);
}

.search-bar {
  border: none;
  background-color: var(--clr3);
  border-radius: 1em;
  width: 500px;
  height: 80%;
  font-size: .9em;
  font-family: roboto-regular;
  margin-left: 195px;
}

.main-nav {
  margin-left: auto;
}

.main-nav h2{
  font-size: 1em;
}

.main-nav img {
  width: 40%;
}

.nav {
  background-color: transparent;
}

.nav::after {
  font-family: fa;
  font-size: 1.6em;
  padding: 30px;
  content: "\f0ca";
}

.menu {
  background-color: var(--clr1);
  position: absolute;
  display: flex;
  border-radius: 1em;
  right: 10px;
  top: 7.5vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 180px;
  height: 100px;
  z-index: 20
}

.menu>* {
  text-align: center;
  padding-top: 20px;
}

.search {
  position: relative;
  right: 40px;
  background-color: transparent;
  padding-right: 20px;
}

.search::after {
  font-family: fa;
  content: "\f002";
}

.search-bar:focus {
  outline: none;
}



@media only screen and (max-width: 846px) {

  .app-header {
    justify-content: space-between;
  }

  .main-nav {
    margin: 0;
  }

  .nav::after{
    padding: 0;
  }

  .search-bar {
    width: 50%;
    margin: 0;
  }

  .search{
    display: none;
  }

}

@media only screen and (max-width: 480px) {

  .app-header {
    min-height: 10vh;
  }

  

}