.app-header {
  background-color: var(--clr2);
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  color: var(--primary-color);
  padding: 15px;
  min-height: 7.5vh;
  z-index: 20;
}

.logo {
  flex-basis: 235px;
  width: 40px;
}

.search-bar {
  border: none;
  background-color: var(--clr3);
  border-radius: 1em;
  width: 500px;
  font-size: .9em;
  font-family: roboto-regular;
  margin-left: 195px;
}

.main-nav {
  margin-left: auto;
}

.main-nav img{
  width: 50%;
}

.nav{
  background-color: transparent;
}

.nav::after {
  font-family: fa;
  font-size: 1.6em;
  padding: 30px;
  content: "\f0ca";
}

.menu {
  background-color: var(--clr1);
  position: absolute;
  display: flex;
  border-radius: 1em;
  right: 10px;
  top: 7.5vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 200px;
  height: 200px;
  z-index: 20
}

.menu>*{
  text-align: center;
  padding-top: 20px;
}

.search {
  /* z-index: 10; */
  position: relative;
  right: 40px;
  background-color: transparent;
  padding-right: 20px;
}

.search::after {
  font-family: fa;
  content: "\f002";
}

.search-bar:focus {
  outline: none;
}

@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}