.app-footer {
  background-color: var(--clr5);
  color: var(--secondary-clr1);
  padding: 1em;
  min-height: 7.5vh;
}

@media(max-width: 720px) {
  .app-footer {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}
