.home-hero {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -5;
}

.home-title {
    text-align: center;
    font-family: roboto-regular;
    margin: auto;
    padding-top: 20vh;
    font-size: 5em;
    color: var(--clr6);
}

.home-title .span {
    color: (--secondary-clr4) !important;
}

.home-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btns button {
    height: 80px;
    margin: 20px;
    border-radius: 3em;
    width: 30vw;
    background-color: var(--secondary-clr4);
    color: var(--clr1);
    font-family: roboto-regular;
    font-size: 1em;
    transition: .4s;
}

.home-btns button:hover {
    background-color: #262f61;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease-in-out;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

@media only screen and (max-width: 600px) {

    .home-title {
        font-size: 4em;
        padding-top: 15vh;
        padding-left: 50px;
        padding-right: 50px;
    }

    .home-btns {
        flex-direction: column;
    }

    .home-btns a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .home-btns button {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {

    .home-title {
        padding-left: 10px;
        padding-right: 10px;
    }

    .home-btns button {
        height: 50px;
        margin: 10px;
    }
}
@media only screen and (max-width: 380px) {

    .home-title {
        font-size: 3.2em;
    }

}