.note-todo {
    padding: 12px 16px 0px 16px;
    gap: 10px;
}

.note-todo .todo-txt {
    text-decoration: line-through;
}

.note-todo .todo-txt.isnt-done {
    text-decoration: none !important;
}

.note-todo h1{
    font-family: roboto-bold;
    font-size: 1.2em;
    text-align: center;
}


.note-todo .title .pin-note::after {
    content: '\f08d';
    font-size: 1.4em;
}

