.note-img {
    font-size: 1.2em;
    gap: 10px;
}

.note-img img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.note-img h1{
    font-family: roboto-bold;
    font-size: 1.2em;
    text-align: center;
}

.note-img .title {
    padding: 0 16px;
}

.note-img .title .pin-note::after {
    content: '\f08d';
    font-size: 1.4em;
}