.note-text {
    /* background-color: azure; */
    padding: 12px 16px 0px 16px;
    gap: 10px;

}

.note-text h1{
    font-family: roboto-bold;
    font-size: 1.2em;
    text-align: center;
}


.note-text .title .pin-note::after {
    content: '\f08d';
    font-size: 1.4em;
}