.keep-app-side-bar-container {
    position: fixed;
    margin-top: 7.5vh;
    min-width: 300px;
    background-color: var(--clr1);
    padding: 25px 15px 15px 0;
}

.keep-app-side-bar-container .notes {
    padding: 0 0 0 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    transition: .4s;
    font-size: 1.2em;
}

.keep-app-side-bar-container .notes:hover {
    background-color: var(--clr3);
}

.keep-app-side-bar-container .notes.active {
    background-color: var(--clr8);
}

.keep-app-side-bar-container .notes h2 {
    color: var(--primary-color);
    font-size: 1em;
    font-family: roboto-bold;
}

.keep-app-side-bar-container .notes button {
    background-color: transparent;
    /* font-family: fa; */
    padding: 1px 10px;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keep-app-side-bar-container button.notes::after {
    content: "\f0eb";
}

.keep-app-side-bar-container button.archive::after {
    content: "\f187";
}
