.note-list .pinned-notes {
    margin-bottom: 40px;
}

.pinned-notes-list, .unpinned-notes-list {
    column-count: 5;
    padding: 10px 0;
}

.pinned-notes-list >*:not(:last-child) {
    margin-bottom: 10px;
}

.unpinned-notes-list >*:not(:last-child) {
    margin-bottom: 10px;
}

.note-list .note-container {
    border: 1px solid var(--clr7);
    border-radius: 1em;
    min-width: 240px;
    max-width: 280px;
    min-height: 100px;
    page-break-inside: avoid;

}

.note-list .hide {
    visibility: hidden;
}

.note-list .hide:hover {
    visibility: visible !important;
}

.note-list .control-btns {
    padding: 0 16px;
    margin-top: auto;
    opacity: 0;
    transition:opacity .4s;

}

.hovering .control-btns{
    opacity: 1 !important;
}

.note-list .control-btns button {
    margin-top: 10px;
    min-height: 40px;
}

.note-list .control-btns .remove::after {
    content: '\f1f8';
}

.note-list .control-btns .archive::after {
    content: '\f187';
}

.note-list .control-btns .bg-img::after {
    content: '\f03e';
}

.note-list .control-btns .bg-color, .note-list .control-btns .font-color{
    position: relative;
}

.note-list .control-btns input{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.note-list .control-btns >*:hover{
    background-color: var(--clr2);
    border-radius: 4em;
}

.note-list .control-btns .bg-color::after {
    content: '\f53f';
}

.note-list .control-btns .font-color:after {
    content: '\f031';
}
