.note-list {
    column-count: 3;
    padding: 10px 0;
}

.note-list >*:not(:last-child) {
    margin-bottom: 10px;
}

.note-list .note-container {
    border: 1px solid var(--clr7);
    border-radius: 1em;
    padding: 12px 16px;
    min-width: 240px;
    max-width: 240px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    page-break-inside: avoid;
    /* margin-bottom: 10px; */

}

/* .note-list ul >*:not(:first-child) {
    margin-top: 10px;
} */

.note-list .hide {
    visibility: hidden;
}

.note-list .hide:hover {
    visibility: visible !important;
}

