.mail-preview {
    background-color: var(--clr1);
}

.mail-list-container>.mail-preview {
    border-top-left-radius: 1em;
    padding-top: 70px;
}

.mail-list-container>.mail-preview~.mail-preview {
    padding-top: 0px;
}

.mail-preview:hover .mail-date {
    visibility: hidden;
}

.mail-preview:hover .mail-hover {
    display: flex;
}

.mail-preview a,
.mail-preview .draft-mail {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--clr4);
    max-width: 100%;
}

.mail-preview .draft-mail {
    cursor: pointer;
}

.mail-preview a:has(> .read) {
    background-color: var(--clr3);
}

.mail-prev-text {
    display: grid;
    grid-template-columns: 1fr 15fr;
    flex-grow: 1;
}

/* BUTTONS */

.toggle-read-btn,
.star-btn,
.mark-btn {
    background-color: transparent;
    font-family: fa;
    color: var(--primary-color);
    font-size: 1em;
    padding: 0;
    min-width: 40px;
    width: fit-content;
}

.mark-btn {
    margin-right: 10px;
}

.toggle-read-btn::after {
    content: "\f0c8";
}

.star-btn::after {
    content: "\f005";
}

.mark-btn::after {
    content: "\f02e";
}

/* BODY */

.mail-title,
.mail-body {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    max-width: 100%;
}

.mail-title {
    font-family: roboto-bold;
    font-size: 1em;
    color: var(--primary-color);
    padding-right: 10px;
    min-width: fit-content;
}

.mail-body {
    font-family: roboto-bold;
    font-size: .8em;
}

.mail-fullname {
    font-family: roboto-bold;
}

.mail-date {
    font-size: .8em;
    min-width: 100px;
    margin-left: auto;
    text-align: right;
    padding-right: 20px;
}

@media only screen and (max-width: 600px) {

    .mail-preview a,
    .mail-preview .draft-mail {
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-template-areas:
            'name date'
            'title .'
            'body star';
        padding: 10px;
    }

    .mail-preview .mail-fullname {
        grid-area: name;
        padding-bottom: 5px;
        font-size: 1.6em;
    }

    .mail-preview .mail-title {
        padding-top: 10px;
        grid-area: title;
    }

    .mail-preview .mail-body {
        grid-area: body;
    }

    .mail-preview .mail-date {
        padding: 0;
        margin: 0;
        place-self: end;
        align-self: center;
        text-align: right;
        grid-area: date;
    }

    .mail-preview .star-btn {
        grid-area: star;
        place-self: end;
        font-size: 1.6em;
    }


    .mail-prev-text {
        grid-template-columns: 1fr;
        display: contents;
    }

    .mail-preview .mail-title,
    .mail-preview .mail-body {
        font-size: 1em;
    }


}

@media only screen and (max-width: 480px) {

    .mail-preview a,
    .mail-preview .draft-mail{
        grid-template-columns: 2fr 1fr;
    }

}