@import url(./email-preview.css);

.mail-list-container {
    padding: 0;
    padding-top: 8vh;
    padding-left: 250px;
    margin: 0;
    flex-grow: 1;
    list-style-type: none;
    background-color: var(--clr1);
    border-top-left-radius: 1em;
}

.sort-preview {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: calc(100% - 250px);
    gap: 20px;
    background-color: var(--clr1);
    align-items: center;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sort-preview h4 {
    cursor: pointer;
}

.filter {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.mail-fullname {
    min-width: 200px;
    font-size: 1em;
}

.mail-hover {
    position: absolute;
    display: none;
    right: 10px;

}

.mail-hover>* {
    background-color: transparent;
    font-family: fa;
    min-width: 30px
}

.note-btn::after {
    content: "\f249";
}

.toggle-btn::after {
    content: "\f2b6";
}

.remove-btn::after {
    content: "\f1f8";

}