@import url(./email-list.css);
@import url(./email-folder-list.css);
@import url(./email-compose.css);
@import url(./email-details.css);

.mail-app{
    background-color: var(--clr2);
}

.mail-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}