.mail-app-details {
    flex-direction: column;
    background-color: var(--clr1);
    border-top-left-radius: 1em;
    width: 100%;
    margin-top: 7.5vh;
    margin-left: 250px;
}

.mail-subject {
    padding-left: 80px;
    padding-bottom: 10px;
}

.mail-details-profile {
    padding-left: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.mail-details-profile p {
    font-family: roboto-light;
}

.mail-details-profile img {
    width: 5%;
}

.mail-details-body {
    max-width: 70%;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 1em;
    font-family: roboto-light;
}

.back {
    font-family: fa;
    background-color: transparent;
    font-size: 1em;
}

.back::after {
    content: "\f060";
}

.mail-details-footer {
    margin-top: auto;
}

.mail-details-footer button {
    margin-left: 20px;
    margin-bottom: 20px;
    background: transparent;
    border: 1px solid var(--clr6);
    color: var(--clr6);
    border-radius: 2em;
    padding: 0px 25px;
    min-height: 40px;
}

.delete-mail {
    background: transparent;
    font-family: fa;
}

.delete-mail::after {
    content: "\f1f8";
}

@media only screen and (max-width: 846px) {

    .mail-details-footer{
        padding: 20px;
        margin-left: auto;
    }

    .mail-app-details {
        margin-top: 10vh;
        margin-left: 0;
        padding-bottom: 15vh;
        border-radius: 0;
    }
    
    .mail-details-paging{
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .mail-details-paging button{
        font-size: 2em;
    }

    .mail-details-profile{
        /* font-size: 1.2em; */
        font-size: 3vw;
    }

}