@import url(./email-preview.css);

.mail-list-container {
    padding: 0;
    margin-top: 7.5vh;
    margin-left: 250px;
    margin-bottom: 0;
    flex-grow: 1;
    list-style-type: none;
    background-color: var(--clr1);
    border-top-left-radius: 1em;
}

.filter-select {
    display: none;
}

.sort-preview {
    height: 70px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 1em;
    display: flex;
    width: calc(100% - 250px);
    gap: 20px;
    background-color: var(--clr1);
    align-items: center;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sort-preview h4 {
    cursor: pointer;
}

.filter {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.mail-fullname {
    min-width: 200px;
    font-size: 1em;
}

.mail-hover {
    position: absolute;
    display: none;
    right: 10px;

}

.mail-hover>* {
    background-color: transparent;
    font-family: fa;
    min-width: 30px
}

.note-btn::after {
    content: "\f249";
}

.toggle-btn::after {
    content: "\f2b6";
}

.remove-btn::after {
    content: "\f1f8";

}

@media only screen and (max-width: 846px) {

    .mail-list-container {
        margin-left: 0;
        padding-bottom: 15vh;
    }

    .sort-preview {
        border-radius: 0;
        width: 100%;
    }
}


@media only screen and (max-width: 480px) {

    .mail-list-container {
        margin-top: 10vh;
    }

    .mail-preview .mail-fullname{
        min-width: 0px;
    }

    .sort-preview{
        display: block;
        padding-left: 0;
    }

    .sort-preview h3,
    .sort-preview h4 {
        display: none;
    }

    .filter-select {
        display: flex;
        margin: auto;
        width: 80%;
        height: 100%;
        padding-left: 5px;
        border-radius: 2em;
        background-color: var(--clr2);
        border: none;
        font-family: roboto-light;
    }

    .filter-select:focus{
        outline: none;
    }
}