.mail-preview{
    background-color: var(--clr1);
}

.mail-preview a {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--clr4);
    width: 100%;
}

.mail-preview a:has(> .read) {
    background-color: var(--clr3);
}

.mail-preview a:first-of-type {
    border-top: 1px solid var(--clr4);
}

.mail-prev-text {
    flex-grow: 1;
}

/* BUTTONS */

.toggle-read-btn,
.star-btn,
.mark-btn {
    background-color: transparent;
    font-family: fa;
    color: var(--clr7);
    font-size: 1em;
    /* padding: 10px; */
    padding: 0;
    min-width: 40px;
    width: fit-content;
}

.mark-btn {
    margin-right: 10px;
}

.toggle-read-btn::after {
    content: "\f0c8";
}

.star-btn::after {
    content: "\f005";
}

.mark-btn::after {
    content: "\f02e";
}

/* BODY */

.mail-title,
.mail-body,
.mail-date {
    font-family: roboto-bold;
    color: var(--clr7);
}

.mail-title,
.mail-body {
    font-size: 1em;
}

.mail-title {
    min-width: 250px;
    margin-right: 10px;
}

.mail-date {
    font-size: .8em;
    min-width: 100px;
    margin-left: auto;
    text-align: right;
    padding-right: 10px;
}