@font-face {
    font-family: fa;
    src: url(../../../fonts/fa/fa-solid-900.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(../../../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(../../../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(../../../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../../../fonts/Roboto/Roboto-Bold.ttf);
}